body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.app {
    padding: 30px 20px 50px 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-weight: 700;
}

h2 {
    text-align: center;
    font-weight: 600;
    padding-bottom: 30px;
}

.location-options {
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 20px; 
}
.sort-options {
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 20px; 
}

.car-list {
    display: grid;
    padding-left: 60px;
    padding-right: 60px;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.car-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, border-color 0.3s ease, filter 0.3s ease; 
}

.car-item:hover {
    transform: scale(1.02); 
    border-color: #999; 
    filter: brightness(90%); 
}

.car-item img {
    width: 100%;
    border-radius: 8px;
}

.rent-form {
    margin-top: 20px;
}

.rent-form h2 {
    margin-bottom: 10px;
}

.rent-form label {
    display: block;
    margin-bottom: 5px;
}

.rent-form input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.rent-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.rent-form button:hover {
    background-color: #0056b3; 
}

.confirmation {
    margin-top: 20px;
    background-color: #dff0d8;
    border: 1px solid #c3e6cb;
    border-radius: 8px;
    padding: 20px;
}

.confirmation h2 {
    margin-bottom: 10px;
}

.footer {
    text-align: center;
    margin-top: 20px;
}

.form {
    padding: 60px;
}