@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.app {
    padding: 40px 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    font-weight: 700;
    color: #333;
    text-transform: uppercase; /* Converts the text to uppercase */
    letter-spacing: 1.5px; /* Increases spacing between letters */
    line-height: 1.6;  /* Controls the space between lines of text */
    margin: 0.5em 0; /* Adds a bit of vertical spacing */
    transition: color 0.3s ease; /* Adds a transition effect when color changes */
}




.LinkFooter {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    background-color: #0056b3;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.5s ease-in-out;
}

.LinkFooter:hover {
    background-color: #0074D9;
}



 
h1 {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 30px;
}

.location-options,
.sort-options,
.car-list {
    padding-left: 80px;
    padding-right: 80px;
    margin-bottom: 100px;
}

.car-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

@media (max-width: 1568px) {
    .car-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 876px) {
    .car-list {
        grid-template-columns: repeat(1, 1fr);
    }
}

.car-item {
    border: none;
    border-radius: 10px;
    padding: 20px;
    background-color: #f6f6f6;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}

.car-item:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
}

.car-item img {
    width: 100%;
    border-radius: 10px;
}

.rent-form {
    margin-top: 30px;
}

.rent-form h2 {
    margin-bottom: 20px;
}

.rent-form label {
    display: block;
    margin-bottom: 10px;
    color: #777;
}

.rent-form input {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.rent-form button {
    background-color: #3f51b5;
    font-weight: bold;
    color: #fff;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.rent-form button:hover {
    background-color: #3f51b5;
    transform: scale(1.05);
}

.confirmation {
    margin-top: 30px;
    background-color: #dff0d8; /* Behalten Sie den grünen Hintergrund bei */
    border: 1px solid #c3e6cb;
    border-radius: 10px;
    padding: 25px;
  }
  
  .confirmation h2 {
    color: #008000;
  }
  
  .confirmation-details {
    margin-bottom: 10px;
    font-weight: bold; /* Setzen Sie das Detail auf fett */
  }
  
  .confirmation-value {
    font-weight: normal; /* Setzen Sie den Wert auf normal (nicht fett) */
  }
  

.footer {
    text-align: center;
    margin-top: 40px;
    color: #777;
    font-size: 14px;
    margin-top: 120px;
}

.reviews-radios {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20px; 
}

.reviews-radios input[type='radio'] {
    display: none;
}

.reviews-radios label {
    font-size: 14px; 
    font-weight: 500;
    margin: 0 10px; 
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 50px;
    transition: background-color 0.2s linear;
}

.reviews-radios input[type='radio']:checked + label {
    color: #ffffff;
    background-color: #3f51b5; 
    font-weight: bold;
}

.reviews-radios label:hover {
    background-color: #f0f0f0;
}


.form {
    padding: 80px;
}

@media (max-width: 876px) {
    .form, .location-options, .sort-options, .car-list {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.confirmation h2 {
    color: #28a745;
    font-size: 2em;
    text-align: center;
}

.confirmation p {
    color: #155724;
    margin: 15px 0;
    font-size: 1.25em;
    text-align: justify;
}

.location-options {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.location-options label {
    font-size: 18px;
    margin-bottom: 10px;
}


.location-options input[type="radio"] {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.sort-options {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.sort-options label {
    font-size: 18px;
    margin-right: 10px;
}

.sort-options select {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background: #f5f5f5;
    color: #444;
    outline: none;
    width: 200px;
}

.sort-options select:focus {
    box-shadow: 0 0 0 2px #E0E0E0;
}

.sort-options select:hover {
    background: #E0E0E0;
}

.sort-options select:active {
    background: #BDBDBD;
    box-shadow: none;
}

.sort-options option {
    background: #f5f5f5;
    color: #444;
}

.toTopButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 99;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: opacity 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 50px;
  }
  
  .toTopButton.show {
    display: block;
  }
  
  .toTopButton:hover {
    opacity: 0.8;
  }
  
  .checkbox-label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .checkbox-label input[type="checkbox"] {
    margin-right: 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #aaa;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .checkbox-label input[type="checkbox"]:checked {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  .checkbox-label input[type="checkbox"]:checked::before {
    content: '✔';
    display: block;
    font-size: 14px;
    color: white;
    text-align: center;
  }
  
  .checkbox-label-ueber input[type="checkbox"] {
    margin-right: 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #aaa;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .checkbox-label-ueber input[type="checkbox"]:checked {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  .checkbox-label-ueber input[type="checkbox"]:checked::before {
    content: '✔';
    display: block;
    font-size: 14px;
    color: white;
    text-align: center;
  }
  

  .logo {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 15px;
}

.LinkFooter {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: #0a0a0a;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.5s ease-in-out;
    margin-bottom: 50px;
    margin-top: 15px;

}

.LinkFooter:hover {
    background-color: #d7d8da;
}

.search {
    margin: 20px auto;
    max-width: 400px;
    width: 100%;
  }
  
  .search input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Responsive Stile */
  @media screen and (max-width: 768px) {
    .search {
      max-width: 80%;
    }
  }

  .error-message {
    font-weight: bold;
    margin-top: 25px;
    color: #ff0000;
    display: flex;
    justify-content: center;
    opacity: 0;
    transform: scale(0);
    animation: errorFadeIn 3s forwards, errorPulse 2s 1s infinite, colorChange 2s infinite;  
}

@keyframes errorFadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes errorPulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

@keyframes colorChange {
    0% { color: #ff0000; }
    50% {color: #000000; }
    100% { color: #ff0000; }
}



.reviewSlider {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  padding: 30px 0;
  background-color: #ffffff; /* Gibt dem Slider einen hellgrauen Hintergrund */
}

.reviewItem {
  display: inline-block;
  width: 20%;
  animation: slide 20s linear infinite;
  color: #272727; 
  font-family: 'Roboto', sans-serif; 
  font-weight:900; 
  font-size: 18px; 
}



@keyframes slide {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}
